 <header class="position-relative d-flex  align-items-end ">
<div class="container   ">
  <h1 class="fw-bolder text-white mb-3">Top Trinding Media Right Now</h1>

  <owl-carousel-o  [options]="customOptions">

    <ng-container *ngFor="let slide of headerTrindingMovies">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="imgPaht+slide.poster_path" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>
<div class="overlay position-absolute "></div>

  
 </header>