<div class="py row m-auto  container">
    <div class="col-md-3 justify-content-center align-items-center">
        <img class="w-100 mt-3" [src]="imgPaht+TVDetails.poster_path" alt="" srcset="">
    </div>
    <div class="mt-2 offset-1 col-md-7">
        <h2>{{TVDetails.name}}</h2>
        <h4 class="text-muted mt-2 ">{{TVDetails.tagline}}</h4>
        <p *ngFor="let item of this.TVDetails.genres" class="d-inline mx-2 ">
            <a class="btn btn-info text-black mt-3">{{item.name}}</a>
        </p>
        <div class="mt-4">
            <label class="fs-4">Vote : </label><span class="text-muted font-monospace fs-5">{{" "+TVDetails.vote_average}}</span>
        </div>
        <div class="mt-4">
            <label class="fs-4">Vote Count : </label><span class="text-muted font-monospace fs-5">{{" "+TVDetails.vote_count}}</span>
        </div>
        <div class="mt-4">
            <label class="fs-4">Popularity : </label><span class="text-muted font-monospace fs-5">{{" "+TVDetails.popularity}}</span>
        </div>
        <div class="mt-4">
            <label class="fs-4">Release Date : </label><span class="text-muted font-monospace fs-5">{{" "+TVDetails.last_air_date}}</span>
        </div>

        <p class="text-muted mt-4 ">{{TVDetails.overview}}</p>

    </div>
</div>